<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django</title>
  </head>

  <body>
      <div>
          <h1><a href="/">Module Production</a></h1>
      </div>

      <div>
          <p>published: 05.15.2019, 10:51</p>
          <h2><a href="">DATA001</a></h2>
          <p> This is a message from SYSTEM </p>
      </div>

      <div>
          <p>published: 05.15.2019, 10:51</p>
          <h2><a href="">DATA002</a></h2>
          <p> This is a message from SYSTEM </p>
      </div>
  </body>

</html>
